<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lingoville.meridian">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Allows application to view phone state like using readLine1Number() -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Required to access the Contacts Provider and user profile -->
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!-- Allows the application to use telephony to get the devices phone number when telephony is available without requiring telephony -->
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TenantEditActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TransactionInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TenantInfoActivity"
            android:label="@string/title_activity_tenant_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TransactionEditActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Data.TenantsProvider"
            android:authorities="com.lingoville.meridian"
            android:exported="false"></provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>